h1 {
    text-align:center;
}

h3 {
    text-align:center;

}

.person {
    text-align:center;
}

.computer {
    display:inline-block;
    margin-top:10px;

}

.memo {
    text-align:center;
}

table.a {
    margin:auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px 15px;
}

table.b {
    margin:auto;
    width: 100%;
    table-layout: fixed;

    border-collapse: separate;
    border-spacing: 0px 15px;
}
.tt {
    margin-left:auto;
    margin-right:auto;
    width:1300px;
    margin-top:20px;
    margin-bottom:20px;
    background-color:#EEEEEE;

}

.pi {
    text-align: center;
}

.im {
    display: inline-block;
    margin-top:10px;
}

.other{
    margin-left:20px;

}
table.c {

    margin:auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
}

td {
    text-align:center;

}

td.le {
    text-align:left;
}

.title {
    text-align:center;
}
}




