h1 {
    text-align:center;
}

h3 {
    text-align:center;
}

.person {
    text-align:center;
}

.computer {
    text-align:center;
}

.memo {
    text-align:center;
}

table.a {
    margin:auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px 15px;
}

table.b {
    margin:auto;
    width: 100%;
    table-layout: fixed;

    border-collapse: separate;
    border-spacing: 0px 15px;
}